.result {
  display: none;
  flex-direction: column;
}

#result-container {
  max-width: 1200px;
  display: flex;
  gap: 3rem;
  margin-bottom: 2rem;
  text-align: center;
  border: 1px var(--dark-yellow-color) solid;
  padding: 3rem;
  border-radius: 5rem;
}

#result-container h1 {
  font-size: 2rem;
  color: var(--yellow-color);
}

.overview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  padding: 2rem;
}

.overview h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--yellow-color);
}

.overview p {
  font-size: 1.5rem;
  color: var(--gray-color);
  font-family: "Segoe UI", sans-serif;
  font-weight: 400;
  line-height: 35px;
}

.overview button {
  width: fit-content;
  margin-top: 2rem;
  padding: 1rem 2rem;
  font-size: 1rem;
  background-color: var(--yellow-color);
  color: #212121;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

.stats {
  flex: 1;
  display: grid;
  gap: 4rem;
  justify-content: center;
  padding: 2rem;
  grid-template-columns: auto auto;
}

.stats div {
  text-align: start;
  padding: 1rem;
}

.stats div h2 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  color: var(--yellow-color);
  white-space: nowrap;
}

.stats div p {
  font-family: "Segoe UI", sans-serif;
  font-size: 1rem;
  white-space: nowrap;
  color: oklch(55.3% 0.013 58.071);
}

.result-menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.result-menu-container button {
  display: flex;
  width: fit-content;
  padding: 1rem 5rem;
  font-size: 1rem;
  background-color: var(--yellow-color);
  color: var(--black-color);
  font-weight: bold;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  transition: background-color 0.3s ease;
}

.result-menu-container button:hover {
  background-color: var(--dark-yellow-color);
}

.result-menu-container button:active {
  background-color: var(--yellow-color);
}

.result-header {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.result-header h1 {
  translate: 0% 50%;
  color: var(--yellow-color);
  font-weight: 700;
  width: fit-content;
  background-color: var(--black-color);
  border: 1px var(--dark-yellow-color) solid;
  font-size: 1.5rem;
  padding: 1rem 5rem;
}
