#text-display {
  font-size: var(--text-lg);
  margin-bottom: 20px;
  line-height: 2rem;
  font-weight: 700;
  color: var(--gray-color);
  text-align: center;
}

#elapse-time-display {
  font-size: var(--text-base);
}

#input-words {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

#typing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100dvh;
}

#typing-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  gap: 1rem;
  border-bottom: 1px dashed var(--gray-color);
}

#caps-lock-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  /* border-radius: 0.8rem; */
  border-radius: 0.6rem;
  color: var(--gray-color);
  border: 1px solid var(--gray-color);
  transition:
    color ease-in-out 0.2s,
    background-color ease-in-out 0.2s;
}

#caps-lock-toggle svg {
  fill: currentColor;
  transition: fill ease-in-out 0.2s;
  width: 1rem;
  height: 1rem;
}

.caps-lock-on {
  background-color: var(--gray-color) !important;
  color: var(--yellow-color) !important;
}

.caps-lock-off {
  background-color: var(--black-color) !important;
  color: var(--gray-color) !important ;
}
